.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/*
.netrc
.vscode/launch.json
.env.test
.index-build
Tests/LLMFlowTests/Resources/dify_fork.yaml
.swiftpm
Examples/simple-cli-with-otel/container
Examples/simple-cli-with-otel/logs
Examples/simple-cli-with-otel/.env
.env
